.aside {
  & .title {
    @apply text-2xl font-semibold font-serif tracking-wide text-gray-600 pb-2 mb-2 block relative;
    border-bottom: 1px solid #ccc;
    &::after {
      content: " ";
      position: absolute;
      width: 60px;
      bottom: -2px;
      left: 0;
      border-bottom: 4px solid theme("colors.brand-1.0");
    }
  }
}
