.burgerMenu {
  cursor: progress;

  & span {
    background: theme("colors.gray.800");
    display: block;
    position: relative;
    width: 2rem;
    height: 0.33rem;
    margin-bottom: 0.4rem;
    transition: all ease-in-out 200ms;
  }

  & .open span {
    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(45deg);
      top: -0.7rem;
    }

    &:nth-child(1) {
      transform: rotate(-45deg);
      top: 0.7rem;
    }
  }
}
