/* purgecss start ignore */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  @screen xl {
    max-width: 80%;
  }
}

@screen xl {
  html {
    font-size: calc(100vw / 89);
  }
}

/* purgecss end ignore */
